
.formControl.error input,
.formControl.error textarea{
    border: solid red 1px;
}

.formControl.error span{
    color:  red ;
}
.formSummaryError{
    border: red 1px solid;
    padding: 5px;
    color: crimson;
}
.profileForm{
    display: block;
    margin: 50px auto;
    width: 500px;
    border: 1px solid black;
    text-align: center;
}
