.nav{
    grid-area: n;
    background-color: darkcyan;
    padding: 15px 15px 15px 20px;
}
.item a {
    padding-bottom: 15px;
    color: #ffffff;
    text-decoration: none;
}
.item a.activeLink   {
 color: aqua;
}